{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
        <title>{% block title %}{% if name %}{{ name|title }}{% endif %}{% endblock %}</title>
        <script src="{% static 'ttracker/js/jquery-3.1.0.min.js' %}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'ttracker/js/underscore.js' %}"></script>
        <script src="{% static 'ttracker/js/backbone.js' %}"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <style>
            body {
                font-size: 90%;
            }
            .timesheet-activity {
                margin: 5px;
            }
            table {
                border-collapse: collapse;
            }
            th, td {
                border: 1px solid #ddd;
                padding: 8px;
            }
            tfoot {
                font-weight: bold;
            }
            .duration {
                width: 44px;
            }

            #projects-container {
                width: 100%;
                overflow: auto;
                margin-top: 20px;
                padding-bottom: 20px;
            }
        </style>
        <script>
            var current_user = parseInt("{{ request.user.id }}");
            var month_number = parseInt("{{ month.month }}");
            var year = parseInt("{{ month.year }}");
        </script>
    </head>
    <body>
        <div id="tabs">
            <ul>
                <li>
                    <a href="#timesheets">
                        {{ month|date:"F Y" }} Timsheet for <span id="user-info">{{ request.user.username }}</span>
                    </a>
                </li>
                {% if request.user.is_superuser %}
                <li>
                    <a href="#admin">Admin</a>
                </li>
                {% endif %}
                <li>
                    <form action="{% url 'account_logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
            <div id="timesheets">
            </div>
            {% if request.user.is_superuser %}
            <div id="admin">
            </div>
            {% endif %}
        </div>

        <script type="text/template" id="current-timesheet-template">
            <div class="activity-list"></div>
                {% if request.user.is_superuser %}
                <select id="selected-user">
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
                {% endif %}
                <button id="validate">Validate</button>
                <span id="project-area">
                    <span>{% trans 'Add project' %}: </span>
                    <select id="project">
                        {% for project in projects %}
                        <option value="{{ project.id }}">{{ project.name }}</option>
                        {% endfor %}
                    </select>
                    <button id="new-project">{% trans 'Add' %}</button>
                </span>
            </div>
            <br/>
            <div class="activity-list">
                {% trans 'Total hours' %}: <span id="hours-total"></span>
            </div>
            <div id="projects-container">
                <table>
                    <thead>
                        <tr>
                            <th>{% trans 'Project' %}</th>
                            {% for day, timestamp in enumerate_days %}
                                {% with day|date:"d" as formatted_day %}
                                {% if day.weekday == 5 %}
                                <th class="saturday" style="background-color: lightblue">{{ formatted_day }}</th>
                                {% elif day.weekday == 6 %}
                                <th class="sunday" style="background-color: lightskyblue">{{ formatted_day }}</th>
                                {% else %}
                                <th>{{ formatted_day }}</th>
                                {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="timesheet-table">
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>{% trans 'Total' %}</td>
                            {% for day, timestamp in enumerate_days %}
                                {% with day|date:"d" as formatted_day %}
                                {% if day.weekday == 5 %}
                                <td class="saturday total-{{ day.day }}" style="background-color: lightblue"></td>
                                {% elif day.weekday == 6 %}
                                <td class="sunday total-{{ day.day }}" style="background-color: lightskyblue"></td>
                                {% else %}
                                <td class="total-{{ day.day }}"></td>
                                {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>
            </div>
        </script>
        <script type="text/template" id="project-row-template">
            <td>
                <span id="project-name"></span>
            </td>
            {% for day, timestamp in enumerate_days %}
                {% if day.weekday == 5 %}
                <td class="saturday" style="background-color: lightblue">
                    <input id="{{ day.day }}" class="duration column-{{ day.day }}" type="number" name="duration" min="0.0" max="18.0" step="0.1" value="0">
                </td>
                {% elif day.weekday == 6 %}
                <td class="sunday" style="background-color: lightskyblue">
                    <input id="{{ day.day }}" class="duration column-{{ day.day }}" type="number" name="duration" min="0.0" max="18.0" step="0.1" value="0">
                </td>
                {% else %}
                <td>
                    <input id="{{ day.day }}" class="duration column-{{ day.day }}" type="number" name="duration" min="0.0" max="18.0" step="0.1" value="0">
                </td>
                {% endif %}
            {% endfor %}
        </script>

        <script type="text/template" id="timesheet-activity-template">
            <div class="timesheet-activity">
                <span>{% trans 'Project' %}:</span>
                <select id="project">
                    {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.name }}</option>
                    {% endfor %}
                </select>
                <div style="display: inline;">
                    <label for="duration">{% trans 'Duration' %}</label>
                    <input id="duration" type="number" name="duration" min="0.0" max="18.0" step="0.1" value="7.4">
                </div>
                <button class="validate-activity">{% trans 'Validate' %}</button>
                <button class="remove-activity">{% trans 'Remove' %}</button>
            </div>
        </script>

        <script type="text/template" id="timesheet-list-template">
            <table>
                <tbody>
                </tbody>
            </table>
        </script>
        <script type="text/template" id="admin-template">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Total (days/hours)' %}</th>
                            <th>{% trans 'Total worked (days/hours)' %}</th>
                            <th>{% trans 'Sickness (days/hours)' %}</th>
                            <th>{% trans 'Holidays (days/hours)' %}</th>
                        </tr>
                    </thead>
                    <tbody id="user-table">
                    </tbody>
                </table>
            </div>
        </script>

        <script type="text/template" id="user-row-template">
            <td><%= username %></td>
            <td><%= round(total / 60 / 24, 1) %> {% trans 'Days' %}/<%= round(total / 60, 2) %> {% trans 'Hours' %}</td>
            <td><%= round(worked / 60 / 24, 1) %> {% trans 'Days' %}/<%= round(worked / 60, 2) %> {% trans 'Hours' %}</td>
            <td><%= round(sickness / 60 / 24, 1) %> {% trans 'Days' %}/<%= round(sickness / 60, 2) %> {% trans 'Hours' %}</td>
            <td><%= round(holidays / 60 / 24, 1) %> {% trans 'Days' %}/<%= round(holidays / 60, 2) %> {% trans 'Hours' %}</td>
        </script>

        <div id="content"></div>
        </script>
        <script src="{% static 'ttracker/js/views.js' %}"></script>
        <script>
            (function () {
                $("#tabs").tabs({
                    activate: function(event, ui) {
                        switch(ui.newPanel[0].id) {
                            case "timesheets":
                                router.navigate("current", true);
                            break;
                            case "admin":
                                router.navigate("admin", true);
                            break;
                        }
                    }
                });
                $("button").button();
            })();
        </script>
    </body>
</html>